@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: Phudu;
    src: url(/src/assets/Phudu/static/Phudu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(/src/assets/Ubuntu/Ubuntu-Regular.ttf);
}

@mixin darkBG {
    color: white;
    background-color: black;
}

@mixin mobileView {
    @media (max-width: 800px) {
        @content;
    };
}

@mixin mobileView1000 {
    @media (max-width: 1000px) {
        @content;
    };
}

@mixin mobileViewCards {
    @media (max-width: 500px) {
        @content;
    };
}

@mixin screenView {
    @media (max-width: 800px) {
        @content;
    };
}

@mixin borderStyle {
    border-top: solid black 9px;
    border-bottom: solid black 9px;
}

@mixin gradientBG {
    background: rgb(49,132,185);
    background: linear-gradient(80deg, rgba(49,132,185,1) 20%, rgba(191,30,50,1) 50%);    
}

$headings-font: Phudu;
$body-font: Ubuntu;
$headings-color: #fff;

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    font-family: $headings-font;
    @include darkBG();
}

ul, li{
    margin-right: 20px;
    padding: 8px;
    font-size: 1.3rem;

    @include mobileView {
        margin-right: 0;
        padding: 4px;
        margin-left: auto;
    }
}

.nav-item {
    --bs-nav-link-color: white;

    &:hover {
        --bs-nav-link-color: rgba(191,30,50,1);
        transition: none;
    }
}

.nav-link:hover {
    --bs-nav-link-color: rgba(191,30,50,1);
    transition: none;
}

.navbar-brand {
    color: $headings-color;
    font-size: 1.5rem;
    padding: 8px;

    &:hover {
        color: $headings-color;
    };
}

.row {
    --bs-gutter-x: 0rem; /* Adjust this value to your needs */
  }

.first-row {
    color: $headings-color;
    @include gradientBG();
    min-height: 150px;
    @include borderStyle();
    max-width: 100%;

    @include screenView {
        min-height: 100px;
    }
}

.col {
    font-size: 2rem;
    font-family: $body-font;
    font-weight: 700;

    @include screenView {
        font-size: 1.5rem;
    }
}

.cards {
    min-height: 350px;
    @include mobileView {
        flex-direction: column;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-left: 20px;
    }
    max-width: 100%;
    align-content: space-around;
}

#cards-col {
    font-family: $headings-font;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    border: solid black 3px;
    border-radius: 25px;
    margin: 5px;
    margin-top: 10px;
    letter-spacing: 1px;
    min-height: 150px;
}

.first-col {
    font-size: 1.1rem;
    margin-top: 25px;
}

.footer {
    min-height: 25px;
    @include darkBG();
    font-family: $headings-font;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 3px;
}

.footer p {
    margin: 0;
  }

#rowContainer {
    min-height: 500px;
    width: 100%;
    background: linear-gradient(-45deg, yellow, greenyellow);
    margin-top: 50px;
    border-radius: 40px;
}

#card1, #card2 {
    border-radius: 25px;
    text-align: justify;
    font-weight: 600;
    font-size: 1.2rem;
}

#card1 {
    margin-top: 40px;
    line-break: auto;
    word-spacing: 2px;
    @include mobileViewCards {
        margin-top: 10px;
    }
}

#card2 {
    text-align: center;
    margin-top: 50px;
    letter-spacing: 4px;
    background-color: rgb(0, 0, 0);
    max-width: 650px;
    font-family: $headings-font;
    color: white;
    @include mobileViewCards {
        margin-top: 5px;
    }
}
